html, body{
    margin: 0;
    padding: 0;
    min-width: 530px;
    width: 100%;
    height: 100%;
    background: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
input{outline: 0;}
input[type=text]:focus {
    border: 1px solid #555;
}

.flex-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-space-column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.flex-space-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.flex-end-row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.center_box{
    padding: 10px;
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.title_box{
    margin: 20px auto 30px auto;
    /*margin-top: 30px;*/
    /*margin-bottom: 60px;*/
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 60px;
}
._title{
    color: #111111;
    font-size: 2em;
    font-weight: bold;
}
.evalForm_box{
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 5px;
    width: 350px;
    height: 400px;
}


/****** 二쇱젣 ���옣 ���썝 ******/
.classInfo_box{
    width: 350px;
    height: 110px;
    /*background-color: yellow;*/
}
.left_box{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100px;
    /*background-color: white;*/
    width: 60px;
}
.right_box{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100px;
    overflow-y: scroll;
    direction: rtl;
    overflow-x: hidden;
    /*background-color: blue;*/
    /*width: 300px;*/
}
.left_txt{
    font-size: 10px;
    font-weight: normal;
}
.left_li{
    display: block;
    border-right: 1px solid #d7d7d7;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
.right_li{
    width: 240px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
/****** 二쇱젣 ���옣 ���썝 �걹 ******/



/****** �룊媛�吏� �뼇�떇�떆�옉 ******/
.check_box{
    margin: 30px auto 0 auto;
    width: 350px;
    height: auto;
}
.question_box{
    width: 350px;
    height: 150px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.question_txt{
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
}
.btn_box{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 350px;
    height: 30px;
}
.btn_box .radio_txt{
    font-size: 11px;
    font-weight: lighter;
}
.opinion{
    margin-left: 10px;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    /*width: 100%;*/
    /*height: 12px;*/
    font-size: 12px;
    font-weight: normal;
}
textarea{
    display: block;
    margin-left: 10px;
    width: 300px;
    height: 40px;
    padding: 4px 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #f8f8f8;
    resize: none;
}
.result_box{
    padding: 10px 0;
    margin: 0 auto;
    width: 350px;
    height: auto;
}
.lastEval_box{
    margin: 0 auto;
    width: 350px;
    height: 50px;
}
.eval-txt{
    font-size: 15px;
    font-weight: bold;
}
.eval-score {
    font-size: 15px;
    font-weight: normal;
    color: #278eff;
}

.option-box {
    width: 100%;
    height: 50px;
}
.option-button {
    border: none;
    width: 80px;
    height: 35px;
    background-color: #278eff;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
}
.option-button:hover {
    box-shadow: 0 3px 8px rgba(104, 104, 104, 0.25), 0 5px 5px rgba(153, 153, 153, 0.22);
}

.id-box {
    display: inline-block;
    width: 120px;
    text-align: right;
    padding-right: 20px;
}
.name-box {
    display: inline-block;
    width: 120px;
    text-align: left;
    padding-left: 10px;
}
.id {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
}
.name {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
}

#print {
    position: fixed;
    left: 10px;
    top: 50%;
}
#print a {
    color: #ffffff;
    text-decoration: none;
}
.printBtn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.printBtn:hover {
    margin-left: 5px;
}