html, body{
    margin: 0;
    padding: 0;
    min-width: 530px;
    width: 100%;
    height: 100%;
    background: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
input{outline: 0;}
input[type=text]:focus {
    border: 1px solid #555;
}
.flex-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-space-column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.flex-space-row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.flex-end-row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.center_box{
    padding: 10px;
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.title_box{
    width: 100%;
    height: auto;
    text-align: center;
}
._title{
    color: #111111;
    font-size: 1.4rem;
    font-weight: bold;
}
.evalForm_box{
    margin: 0 auto;
    padding: 5px;
    width: 350px;
    height: 430px;
}



/****** 二쇱젣 ���옣 ���썝 ******/
.classInfo_box{
    width: 350px;
    height: 100px;
}
.left_box{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
    width: 60px;
}
.right_box{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}
.left_txt{
    font-size: 10px;
    font-weight: normal;
}
.left_li{
    display: block;
    border-right: 1px solid #d7d7d7;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
.right_li{
    width: 240px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-bottom: 1px solid #ededed;
}
/****** 二쇱젣 ���옣 ���썝 �걹 ******/



/****** �룊媛�吏� �뼇�떇�떆�옉 ******/
.check_box{
    width: 350px;
    height: auto;
}
.question_box{
    width: 350px;
    height: auto;
    margin-bottom: 10px;
}
.question_txt{
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
}
.btn-wrapper {
    width: 100%;
    height: 50px;
}
.btn_box{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 350px;
    height: 30px;
}
.btn_box .radio_txt{
    font-size: 11px;
    font-weight: lighter;
}
.opinion{
    margin-left: 10px;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
}
textarea{
    display: block;
    margin-left: 10px;
    width: 300px;
    height: auto;
    padding: 4px 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #f8f8f8;
    resize: none;
}


.eval_txt{
    font-size: 15px;
    font-weight: bold;
}
.score-box {
    width: 100%;
    line-height: 30px;
    height: 30px;
    text-align: center;
}


.lastEval_box{
    margin: 0 auto;
    width: 350px;
    height: auto;
}
.result_box{
    width: 350px;
    height: auto;
}
.option-button {
    border: none;
    width: 80px;
    height: 35px;
    background-color: #278eff;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
}

/****** �룊媛�吏� �뼇�떇�걹 ******/


.sub-tit {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 20px;
}

.lists {
    width: 100%;
    height: 80px;
}
.list-wrap {
    width: 100%;
    height: 20px;
}
.mini-tit-wrap {
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    display: inline-block;
}
.mini-val-wrap {
    width: 140px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
}

.mini-tit {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
}

.mini-val {
    color: #2a2a2a;
    font-size: 12px;
    font-weight: 300;
}

.comment-box {
    width: 100%;
    height: 30px;
    border: 1px solid #f1f1f1;
}
.comment {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
}
.radio-check-box {
    width: 100%;
    height: 30px;
}

.id-box {
    display: inline-block;
    width: 120px;
    text-align: right;
    padding-right: 20px;
}
.name-box {
    display: inline-block;
    width: 120px;
    text-align: left;
    padding-left: 10px;
}
.id {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
}
.name {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
}
.team-name {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
}

.row-box {
    /*350px;*/
    width: 100%;
    height: 20px;
}
.col {
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #000000;
}
.first {
    width: 90px;
}
.second {
    width: 100px;
}
.third {
    width: 70px;
}
.list-box {
    width: 100%;
    height: 80px;
}
.list-ele-box {
    width: 100%;
    height: 20px;
}

.scroll-box {
    height: 50px;
}

.temp-button {
	width: 100px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
	border:1px solid #d7d7d7;
	outline: none;
}
.temp-button a {
	text-decoration: none;
	color: #000000;
}