input{
    width: 200px;
    height: 30px;
    padding: 5px;
}

button{
    width: 210px;
    height: 40px;
    background-color: #278eff;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button:hover{
    box-shadow: 0 3px 8px rgba(104, 104, 104, 0.25), 0 5px 5px rgba(153, 153, 153, 0.22);
}
.custom-select{
    width: 210px;
    height: 40px;
    border: none;
    background-color: #f0f0f0;
    color: #000000;
}