html, body{
    margin: 0;
    padding: 0;
    min-width: 530px;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    background: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center_box{
    padding: 10px;
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.title_box{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 60px;
}
._title{
    color: #111111;
    font-size: 2em;
    font-weight: bold;
}
.sign_box{
    width: 100%;
    height: 60px;
}

.join_box{
    width: 100%;
    height: auto;
}

.list_box{
    width: 100%;
    height: 60px;
    /*line-height: 30px;*/
}

.list_box .list_head{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.button_box{
    width: 100%;
    height: 100px;
}
.guide_box {
    margin: 5px auto;
    width: 200px;
    height: 30px;
    background-color: #ffffff;
}
input{
    width: 200px;
    height: 30px;
    padding: 5px;
}

button{
    width: 210px;
    height: 40px;
    background-color: #278eff;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button:hover{
    box-shadow: 0 3px 8px rgba(104, 104, 104, 0.25), 0 5px 5px rgba(153, 153, 153, 0.22);
}
.custom-select{
    width: 210px;
    height: 40px;
    border: none;
    background-color: #f0f0f0;
    color: #000000;
}

.jointeam{
	color: red;
	font-size: 11px;
	text-align : center;
}

.maketeam{
	color: red;
	font-size: 15px;
	text-align : center;
}

